
img {
  display: block;
  width: 300px;
  margin-top: 15%;
}

input{
  
  width: 500px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 16px;
  margin-top: 25px;
  box-shadow: 0 1px 6px rgba(0,0,0, .2);
  border: none;
  border-radius: 40px;
}


.buttons {
  margin-top: 24px;
}

button {
  margin-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 599;
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}