.search-bar {
  font-size: 20px;
  margin-left: 12px;
  display: block;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.video-picture {
  width: 300px;
}

.container {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.video-info {
  width: 300px;
}

.profile-block {
  width: 48px;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;

}

.channel{
  border-radius: 100px;
  width: 38px;
  height: 38px;
  display: inline-block;
  margin-right: 0px;
  margin-top: 8px;
}

.text-container {
  display: inline-block;
  width: 84%;
  height: 112px;

}

p{
  font-size: 14px;
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.5;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 400;
}

.video-title {
  width: 100%;
  line-height: 20px;
  font-weight: 500;
  margin-right: 0px;
  margin-top: 8px;
  color: black;
}

.video-author {
  font-size: 12px;
  margin-top: 8px;
  color: #606060;;

  
}

.video-stats {
  font-size: 12px;
  margin-bottom: 16px;
  color: #606060;;
}