.flexbox {
  display: flex;
  flex-direction: row;
  
}

.col1 {
  background-color: lightpink;
  width: 100px;

}

.col2 {
  background-color: lightblue;
  width: 200px;
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text {
  background-color: black;
  color: white;
}
