.cat {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 400px;
  vertical-align: middle;
}

.text-bar {
  font-size: 18px;
  vertical-align: middle;
  color: rgb(100, 100, 100);
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding-right: 125px;
}

.tweet {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 22px;
  border:none;
  background-color: rgb(29,156,240);
  color: white;
  font-weight: bold;
  cursor: pointer;
  vertical-align: middle;
}