.three-flex {
  display: flex;
  flex-direction: row;
}


.alpha {
  background-color: lightblue;
  width: 50px;
}
.beta {
  background-color: lightpink;
  flex: 1;
}

.delta {
  background-color: lightblue;
  width: 75px;
}

