.pic {
  width: 20%;
  margin: 0 auto;
  margin-top: 200px;
}

img {
  width: 300px;
}

input{
  
  width: 515px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-size: 20px;
  margin-top: 25px;
  box-shadow: 0 2px 8px rgba(0,0,0, .2);
  border: none;
  border-radius: 1000px;
}

.search-bar {
  top: 48%;
  left: 47%;
  width: 30em;
  height: 18em;
  margin-top: -9em;
  margin-left: -15em;
  position: fixed;
  
}