.pic {
  width: 20%;
  margin: 0 auto;
  margin-top: 200px;
}

img {
  width: 300px;
}

input{
  margin-left: 450px;
  width: 515px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-size: 20px;
  margin-top: 25px;
  box-shadow: 0 2px 8px rgba(0,0,0, .2);
  border: none;
  border-radius: 1000px;
}