.two-col{
  display: grid;
  grid-template-columns: 200px 75px;

  margin-bottom: 300px;
}

.alpha {
  background-color: lightpink;
  width: 100%;
}

.beta {
  background-color: lightblue;
  width: 100%;
}