.search-bar {
    font-size: 20px;
    margin-left: 12px;
    display: block;
    margin-bottom: 20px;
  }
  
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
  }
  
  .video-picture {
    width: 100%;
  }
  
  .container {
    width: 300px;
    display: inline-block;
    vertical-align: top;
  }
  
  .video-info {
    width: 100%;
  }
  
  .profile-block {
    width: 48px;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    height: 100%;
  
  }
  
  .profile-picture{
    border-radius: 100px;
    width: 38px;
    height: 38px;
    display: inline-block;
    margin-right: 0px;
    margin-top: 8px;
  }
  
  .text-container {
    display: inline-block;
    width: 84%;  
  }
  
  p{
    font-size: 14px;
    font-family: Roboto, Arial;
    line-height: 1.5;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 400;
  }
  
  .video-title {
    width: 100%;
    line-height: 20px;
    font-weight: 500;
    margin-right: 0px;
    margin-top: 8px;
  }
  
  .video-author {
    font-size: 12px;
    margin-top: 8px;
    color: rgb(96, 96, 96);
  
    
  }
  
  .video-stats {
    font-size: 12px;
    margin-bottom: 16px;
    color:rgb(96, 96, 96);
  }